<!DOCTYPE html>
<html>
  <head>
    <title>ParkLender</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAAyW2SGRj0BKFGafele8RXEbogjBci7kE&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="icon" href="http://res.cloudinary.com/dsvkuc936/image/upload/v1473135477/parklender_assets/favcon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
