<!DOCTYPE html>
<html>
  <head>
    <title>ParkLender</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAAyW2SGRj0BKFGafele8RXEbogjBci7kE&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="icon" href="https://res.cloudinary.com/dsvkuc936/image/upload/v1473135477/parklender_assets/favcon.png">
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%=ENV['CLOUD_NAME']%>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
